<?xml version="1.0"?>
<robot name="camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="camera_base">
        <inertial>
            <mass value="0.1"/>
            <origin rpy="0  0  0" xyz="0  0  0"/>
            <inertia ixx="0.000166667" ixy="0" ixz="0" iyy="0.000166667" iyz="0" izz="0.000166667"/>
        </inertial>

        <collision name="collision">
            <origin rpy="0  0  0" xyz="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </collision>

        <visual name="visual">
            <origin rpy="0  0  0" xyz="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </visual>
    </link>

</robot>

